
*{
    font-family: 'Poppins', sans-serif;
    }


/****** Header ***********/

.header-left {
    font-size: 26px;
    line-height: 26px;
    font-weight: 900;
}

.header-right {
    font-size: 12px;
}

.header-right-link {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.header-right-link-img {
    width: 30px;
}


/****** Index ***********/


.title {
    font-size: 150px;
    font-weight: 800;
}

.title::before {
    content: "projets";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.012em;
    position:  absolute;
    margin-left: -50%;
}

/* .title::after {
    content: "p";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.012em;
    position:  absolute;
    margin-left: 48%;
    margin-top: -180px;
} */



/****** Footer ***********/

footer ul {
    list-style-type: none;
}

.footer-anchor {
    font-size: 50px;
    font-weight:100;
    color: #FFF;
    text-decoration: none;

}

footer a:hover{
    font-weight:700;
}


.footer-right {
    color: #FFF;
    writing-mode: vertical-rl;
}



/****** Media Queries ***********/

@media screen and (max-width: 992px) {
    .header-left {
        font-size: 40px;
        line-height: 45px;
    }

    .header-right {
        padding-top:40px;
        padding-bottom: 40px;
        font-size: 20px;
        line-height:25px;
    }

    .header-right-link {
        padding: 10px 0;
    }
}